<template>
  <div>
    <b-nav tabs pills>
      <b-nav-item active><router-link to="/">Home</router-link></b-nav-item>
      <b-nav-item
        ><router-link to="/showview">ShowView</router-link></b-nav-item
      >
      <b-nav-item><router-link to="/form">Form</router-link></b-nav-item>
      <b-nav-item><router-link to="/table">Table</router-link></b-nav-item>
      <b-nav-item><router-link to="/about">About</router-link></b-nav-item>
      <b-nav-item><router-link to="/counter">Count</router-link></b-nav-item>
      <b-nav-item><router-link to="/user">CRUD</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
