<template>
  <div class="about">
    <h1>
      This is my picture
    </h1>
    <b-img
      :src="require('../assets/Myimage.jpg')"
      fluid
      alt="Fluid image"
    ></b-img>
  </div>
</template>
